.fullscreen{
    background-image: linear-gradient(to left,#ffddff , #bd94ff);
    height: 100vh;
  }
  .quiz-options{
    display: flex;
    justify-content: space-evenly;
  }
  .quiz-options ul{
    height: 100%;
  }
  .quiz-options li{
    font-size: 30px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 100%;
    width: 200px;
  }
  .quiz-options p{
    text-align: center;
    margin: 0px;
  }